@model IEnumerable<OMSys.Models.DiagnosisStep>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StepOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StepOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptom.SymptomName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StepId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StepId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StepId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
