@model IEnumerable<OMSys.Models.StepResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResultOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextStep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResultOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Step.Instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solution.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextStep.Instruction)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResultId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResultId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResultId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
